*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  box-sizing: inherit;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 100%; /* this will be 16px on most browsers */
  line-height: 1.5; /* this is a multiple of the font size (1.5 * 16px = 24px) */
}

body {
  margin: 0;
}

img {
  max-width: 100%;  

}

figure {
  margin: 0;
}

.film {
  width: 50%;
  margin: 40px auto;
  overflow:auto;
  border: 1px black solid;
  height: auto;
  position: relative;

}
.film-poster{
  float:left;
  width:50%;
 
  padding:15px;
  position: relative;
}
.film-details{
  float:left;
  width: 50%;
  padding:15px;
 
  height:100%;
}
.action-watch-later{
  color: red;
  position:absolute;
  top: 20px;
  right:20px;
}
.film-title{
  margin:0;
}
.action-like{
  color:red;
  position:absolute;
  right:5px;
  bottom:5px;
}
